<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- In AndroidManifest.xml, just before the <application> tag -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- This query is needed for Android 11 (API 30) and above to find the speech recognition service -->
    <queries>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="@string/app_name"


        android:roundIcon="@mipmap/ic_launcher_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SamadhanSetu"
        android:forceDarkAllowed="false"
        tools:targetApi="31">
        <activity
            android:name=".WorkerSolved"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".SolvedComplaints"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".StudentDashboardActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ViewNoticesActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".PostNoticeActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ItemWorkerDetailsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".AddWorkerActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ItemComplaintSolvedActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ItemComplaintAllotedActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ItemComplaintPendingActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".CaretakerProfile"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".CaretakerDashboardActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".caretaker_interface"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".catagory"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ComplaintListActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".student_interface"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Signup"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>